<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>View Employee data</title>
  </head>
  <body>
	<!--Display employee detail if found-->
	<div class="container">
		<h3>Employee Record</h3>
		
		<div class="card">
		  <div class="card-header">
		    Details
		  </div>
		  <div class="card-body">
		    <h5 th:text="${employee.empName}" class="card-title"></h5>
		    <p th:text="${employee.empEmail}" class="card-text"></p>
			<p th:text="${employee.empLocation}" class="card-text"></p>
			<a  href="/employee" type="button" class="btn btn-secondary">Back to search</a>
		  </div>
		</div>
	</div>
		
	

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>